#problem_difficulty span {
    font-size: 3rem;
}

.label-difficulty {
    width: 5ch;
    margin-right: 2px;
    text-align: left;
    padding: none !important;
}

.difficulty_vote {
    display: inline-block;
    width: 30ch;
}

.level_badge.small {
    line-height: inherit;
    width: 1.1em;
    height: 1.4em;
    margin-right: 0.4em;
    vertical-align: middle;
}

.level_badge.small:last-child {
    margin-right: 1ch;
}

.poll_shown img,
.poll_shown br {
    display: inherit;
}

.poll_hidden span,
.poll_hidden img,
.poll_hidden br {
    display: none;
}

.title_badge {
    font-size: 2rem;
}

.level_hidden {
    display: none;
}

.text-kudeki {
    color: #9c62d3;
}

.text-bronze {
    color: #ad5600;
}

.text-silver {
    color: #435f7a;
}

.text-gold {
    color: #ec9a00;
}

.text-platinum {
    color: #949494;
}

.text-diamond {
    color: #00b4fc;
}

.text-ruby {
    color: #ff0062;
}

.label.standard {
    margin-left: 8px;
    background: #ec9a00;
}