* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: 'Inter', 'Noto Sans KR', 'Noto Sans JP', 'NanumSquare', '나눔스퀘어', 'NanumGothic', '나눔고딕', 'Malgun Gothic', '맑은 고딕', sans-serif;
    font-weight: 400;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 1.6;
    overflow-x: hidden;
}

textarea, input {
    font-family: 'Inter', 'Noto Sans KR', 'Noto Sans JP', 'NanumSquare', '나눔스퀘어', 'NanumGothic', '나눔고딕', 'Malgun Gothic', '맑은 고딕', sans-serif;
    font-size: 1rem;
}

.contents {
    width: 280px;
    padding: 16px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    max-width: 400px;
    height: auto;
    line-height: normal;
    padding: 8px 5px;
}

div.button {
    display: inline-block;
    padding: 16px;
    font-weight: bold;
    background: #17ce3a;
    color: #fff;
}

p.hr {
    margin: 24px 0;
    border-bottom: 1px solid #eee;
}

.option_item {
    position: relative;
    height: 32px;
    margin-bottom: 8px;
}

.option_caption {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 32px;
}

.option_item .option_switch {
    position: absolute;
    right: 0;
    top: 0;
}

.option_switch, .option_switch .toggle_knob {
    transition: all 0.2s ease-in;
}

.option_switch {
    height: 30px;
    width: 55px;
    display: inline-block;
    background-color: #ffffff;
    margin: 2px;
    margin-bottom: 5px;
    border-radius: 30px;
    cursor: pointer;
    border: solid 1px #d2d6de;
    box-shadow: inset 1px 1px 9px -3px rgba(4, 4, 4, 0.08), 1px 2px 6px -2px rgba(0, 0, 0, 0.01);
}

.option_switch .toggle_knob {
    width: 28px;
    height: 26px;
    display: inline-block;
    background-color: #ffffff;
    border: solid 1px rgba(126, 126, 126, 0.07);
    box-shadow: 0 1px 3px rgba(107, 106, 106, 0.26), 0 5px 1px rgba(107, 106, 106, 0.13);
    border-radius: 26px;
    margin: 1px 1px;
}

.option_switch.active {
    background-color: #17ce3a;
    border: solid 1px transparent;
}

.option_switch.active .toggle_knob {
    margin-left: 24px;
}